/* 全局-动画延迟 */
* {
	margin: 0;
	padding: 0;
	font-family:"微软雅黑";
	 -webkit-transition : all .3s ease;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

a {
	text-decoration: none;
}

body {
	background: #ccc;
}


/* top */
#top-nav {
	width:100%;
	height:200px;
	right: 0px;
	/* margin: 40px 0px 0 0; */
    position: ;
    overflow: ;
}
/* nav-title */
#nav-title{
	display:inline-block;
	width:50px;
	background: #fff;
}
/*top- 翻转导航 */
.m-nav{
	display: inline-block;
	position: absolute;
	right: 0px;
	overflow: hidden;
}
.m-nav li {
	display: inline-block;
	width: 110px;
	position: relative;
	list-style: none;
}

.m-nav a {
	display: block;
	width: 100px;
	line-height: 20px;
	padding: 6px 8px;
	-webkit-transform-origin: 50% 50% -14px;
	transform-origin: 50% 50% -14px;
}

.m-nav .m-nav-1 a {
	background: #111;
	color: #fff;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
}

.m-nav .m-nav-2 a {
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
	color: #111;
}

.m-nav li:hover .m-nav-1 a {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg)
}

.m-nav li:hover .m-nav-2 a {
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg)
}
/* top-search 搜索框 */
#top-search{
	height: 32px;
	/* width:98px; */
	width:148px;
	line-height:33px;
	padding: 0px 5px;
	margin:0 0 0 2px;
	background: #fff;
	border-left: 2px #999 solid;
}
#top-search input{
	outline:none;
    /* width:94px; */
    width:144px;
    border:none;
    font-size: 15px;
    color: #333;
    background: url("search.png")  no-repeat;
    background-size:contain;
}
#top-search input{
	 
}
/* main */
#main{
    
}
/* top- 头像菜单 */
#avater-menu {
    position: fixed;
    top: 15px;
    left: 15px;
    border-radius: 50%;
}
#avater-container{
	display: none;
}
#avater-container div {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .6);
    background-image: url("me.jpg");
    background-size: 100%;
}

#avater-container div:hover {
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
    background-image: url("top-fire.jpg");
}

#avater-nav {
    display: none; color : #eee;
    list-style: none;
    width: 100px;
    text-align: left;
    padding: 0;
    margin: 12px 0 0 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .6);
    color: #eee;
}

#avater-nav li {
    background: #000;
    padding: 6px;
    border-top: 1px #fff inset;
    font-size: 13px;
}

#avater-nav li:hover {
    background: #eee;
    color: #000;
}

#avater-nav li:first-child {
    border-top: none;
}
/* 底部 */
#footer{
}
#footer{
	margin: 2em auto;
	left: 50%;
	text-align: center;
	font-size: 8px;
	text-align: center;
}