body {
	background-color: #999;
	margin: 0;
	background: url(../img/bg.png) no-repeat fixed;
	-moz-background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
ul,ol {
	padding: 0;
}
.unsliderDiv {
	position: relative;
	height: auto;
	width: 400px;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	border: none;
}
.unsliderDiv li {
	list-style: none;
}
.unsliderDiv ul li {
	float: left;
	list-style: none;
}
.unsliderDiv .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}
.unsliderDiv .dots li {
	display: inline-block;
	width: 3px;
	height: 3px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
	opacity: 0.4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
.unsliderDiv .dots li.active {
	background: #fff;
	opacity: 1;
}